<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.twitter_username }}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
<meta name="twitter:description" content="{% if page.twitter_description %}{{ page.twitter_description | escape }}{% else %}{{ site.description | escape }}{% endif %}" />
<meta name="twitter:image" content="{% if page.twitter_image %}{{ "/assets/images" | append: page.twitter_image | absolute_url }}{% else %}{{ "/assets/images/default_twitter.jpg" | absolute_url }}{% endif %}" />