---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$light-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 24px;

$spacing-unit:     30px;

$text-color:       #525252;
$background-color: #f1f1f1;
$brand-color:      #4caf50;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$code-background-color: #f1f1f1;
$code-basic-color: #a71d5d;

// Width of the content area
$content-width:    680px;

$on-palm:          600px;
$on-laptop:        680px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
