<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% unless page.no_title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endunless %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/app.css">
    <meta property="og:title" content="{% unless page.no_title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endunless %}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{% if page.twitter_image %}{{ "/images/" | append: page.twitter_image | absolute_url }}{% else %}{{ "/images/default.jpg" | absolute_url }}{% endif %}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@flamisz">
    <meta name="twitter:creator" content="@flamisz">
    <meta name="twitter:title" content="{% unless page.no_title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endunless %}">
    <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="twitter:image" content="{% if page.twitter_image %}{{ "/images/" | append: page.twitter_image | absolute_url }}{% else %}{{ "/images/default.jpg" | absolute_url }}{% endif %}">
</head>

<body>
    <header>
        <h1><a href="{{ site.url }}">314 Blog Drive</a></h1>
        <nav>
            <a href="/til">TIL</a>
            <span>&bull;</span>
            <a href="/how-i">How I</a>
            <span>&bull;</span>
            <a href="/something-else">Something else</a>
            <span>&bull;</span>
            <a href="/now">Now</a>
            <span>&bull;</span>
            <a href="/uses">Uses</a>
            <span>&bull;</span>
            <a href="https://twitter.com/flamisz" style="width:20px;height:20px;vertical-align:text-bottom;display:inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" style="width:100%;height:100%">
                    <path fill="#3f83f8 " d="M17.316 6.246c.008.162.011.326.011.488 0 4.99-3.797 10.742-10.74 10.742-2.133 0-4.116-.625-5.787-1.697a7.577 7.577 0 005.588-1.562 3.779 3.779 0 01-3.526-2.621 3.858 3.858 0 001.705-.065 3.779 3.779 0 01-3.028-3.703v-.047a3.766 3.766 0 001.71.473 3.775 3.775 0 01-1.168-5.041 10.716 10.716 0 007.781 3.945 3.813 3.813 0 01-.097-.861 3.773 3.773 0 013.774-3.773 3.77 3.77 0 012.756 1.191 7.602 7.602 0 002.397-.916 3.789 3.789 0 01-1.66 2.088 7.55 7.55 0 002.168-.594 7.623 7.623 0 01-1.884 1.953z" />
                </svg>
            </a>
        </nav>
    </header>

    <h3>{{ page.title }}</h3>

    {{ content }}
</body>

</html>
